.sub-title {
    text-align: center;
    margin-top: 100px;
}


body {
    font-family: 'Gloria Hallelujah', cursive;
    background-image: url("/public/header-image.jpg");
    background-size:cover;
    margin: auto;
  
   
    background-repeat:no-repeat;
}

.button-container {
height:300px;
margin: auto;
justify-content: center;
}





@tailwind base;

@tailwind components;

@tailwind utilities;


